.chat-close{
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 18px;
    cursor : pointer;
    opacity: 1 !important;
}
.player-list{
    height: 400px;
    overflow-y: auto;
}
.selected{
    color : #40b2b5;
    opacity: 1!important;
    font-weight: bold;
}
.plan-table-header tr th{
    text-align: center;
}
.plan-table-content tr td{
    text-align: center;
    opacity: .4;
}
.plan-header{
    float: left;
}
.plan-box-container{
    width: 190px;
    height: 150px;
    cursor: pointer;
}
.plan-box {
    display: inline-block;
    width: 120px;
    height: 120px;
    line-height: 120px;
    background-color: #40b2b5;
    opacity: .6;
    color: #fff !important;
    text-align: center;
    vertical-align: middle;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}
.arrow{
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #40b2b5;
    margin: 0px auto 0;
    width: 0;
    height: 0;
    opacity: .6;
}
.pname{
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
}
.new-img{
    width : 100px;
}
.box-new{
    top: -8px;
    position: absolute;
    left: -16px;
    transform: rotate(-90deg);
}
.box-space-media {
    margin-bottom: 10px;
    background: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}
.menu-media-active{
    background: #232f3e;
    color: white !important;
    transform: scale(1.1);
}
.journal1 html{
    zoom:175%;
}
.progress-song{
    height: 5px;
    margin-bottom: 0px;
}
.no-media{
    font-weight: bold;
    text-align: center;
}
.section-margin-top{
    margin-top: 15px;
}

.lien-matchs-en-cours{
    font-size: 13px;
    color: white;
}

.price-size{
    font-weight: bold;
}
.prix-mga-ketrika {
    font-size: 18px !important;
}
.banner-rel-2000{
    display: none !important;
}
.banner-rel-mobile {
    display: none !important;
}
.banner-mobile-bloc {
    display: none;
}
body {
    background: #F0EDF0 !important;
    font-family: arial,sans-serif;
}
.body-index {
    background-color: #1b1b1b !important;
    padding-top: 0 !important;
}
.container {
    width: auto !important;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 80px;
    background: #F0EDF0;
    padding: 15px;
}
.container-index {
    background: #1b1b1b !important;
    margin-top: 0 !important;
}
footer .container {
    background: #1b1b1b;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer-container {
    margin: 0 !important;
}
.content-login {
    left: 50%;
    transform: translate(-50%,0);
    padding: 15px;
    text-align: center;
}
.content-body {
    padding: 15px;
    background: #fff;
}
.header-menu-mobile {
    display: none;
    margin-top: 10px;
    cursor: pointer;
    transform: translate(-75%,0);
}
.content-body-form {
    padding-left: 0;
    padding-right: 0;
}
.content-body-match {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}
.navigation-header {
    display: flex;
    justify-content: space-between;
    width: auto;
}
.header-page {
    padding: 10px !important;
    padding-bottom: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.header-logo-mobile {
    display: none;
    margin-top: 26px;
}
/*.header-data-index {
    margin-top: 26px;
}*/
.input-label-index {
    color: white;
}
.drapeau-fichesport {
        height: 100px !important;
        width: auto !important;
    }
.menu-mobile {
    position: fixed;
    z-index: 35;
    width: 70%;
    background: white;
    height: 90%;
    padding: 10px;
/*    margin-top: 15px;*/
    right: -1500px;
    color: #333;
    transition: 0.5s all;
    display:none;
    border-left: #40b2b5 solid 4px;
    overflow: scroll;
    max-height: 1500px;
    
}
.form-pass-forget {
    outline: none !important;
}
.menu-mobile-user {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}
.mobile-user-photo {
    border-radius: 120px;
    width: 128px;
    height: 128px;
}
.mobile-user-name {
    font-size: 40px;
    padding-left: 20px;
    padding-top:30px;
}
.menu-mobile-ul {
    font-size: 14px;
    list-style: none;
    line-height: 25px;
}
.menu-mobile-list-menu {
/*    overflow-y: scroll;*/
}
.menu-mobile-link {
    color: #333;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
}
.menu-mobile-title-icon {
    color: #333;
}
.menu-mobile-title {
    height: auto;
    background: url("../img/header-gamepub.png") no-repeat scroll left top / 50px auto #40b2b5;
    border-bottom: 1px solid #b1b1b1;
    color: #fff;
    font-family: BebasNeue;
    font-size: 18px;
    padding: 3px 0 2px 65px;
    text-shadow: 0 1px 1px #000000
}
.menu-mobile-delimiter {
    border-top: solid #d0d1d5 1px
}
.content_match-league-text {
    text-align: center;
    margin-bottom: 30px;
}
.content_match {
    border: solid #e5e6e9 0.5px;
    padding: 10px;
    box-shadow: 0 2px 0 rgba(0,0,0,.12);
    cursor: pointer;
    margin-bottom: 15px;
}
.content_match_nopointer {
    cursor: auto;
}
.content_match:hover {
    background: #F0F0F0;
}
.content_match-team {
    text-align: center;
}
.content_match-team-txt {
    font-size: 17px;
    margin: 5px;
}
.content_match-score-home {
    font-size: 35px;
    /*margin-left: -40px;*/
}
.content_match-score-away {
    font-size: 35px;
    /*margin-left: 22px;*/
}
.content_match-fiche {
    text-align: center;
    font-size: 15px;
    margin-top: -50px;
}
.content_match-fiche-pari {
    /*margin-top: 0 !important;*/
}
.form-pass-forget {
    margin: 5px 0 0 0;
    font-size: 13px;
    color: white;
}
.content_pari_user {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}
.content_pari_user_reverse {
    flex-direction: row-reverse;
}
.content_match-score {
    height: 100%;
    font-size: 38px;
    margin: 33px 0 0 20px;
}

.content_pari-mise {
    display: flex;
    flex-direction: row;
    font-size: 18px;
}
.content_pari-mise-reverse {
    justify-content: flex-end;
}
.content_pari-user-photo {
    width: 35px;
    height: 35px;
    border-radius: 50px;
}
.content_pari-user-name {
    font-size: 12px;
    font-weight: bold;
    padding-left: 10px;
}
.content_pari-home {
    margin-bottom: 15px;
}
.content_pari-mise-img {
    width: 25px;
    height: 25px;
}
.form-pari-team {
    text-align: center;
}
.form-pari-team-flag {
    width: auto !important;
    height: 85px;
}
.form-pari-mise-txt {
    font-size: 15px;
}
.form-pari-rubrique {
    margin-top: 20px;
    border-top: 1px solid #e5e5e5;
    padding-top: 20px;
}
.form-input-modal-label {
    font-size: 13px;
    font-weight: bold;
}

.form-input-rubrique-choice {
    padding-left: 26px;
    padding-right: 15px;
}
.form-more-option-btn {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    cursor: pointer;
}
.form-more-option-img {
    width: 24px;
    height: 24px;
}
.form-more-option-txt {
    font-size: 15px;
    font-weight: bold;
    margin-left: 5px;
}
.form-pari-away {
    margin-top: 20px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 15px;
}
.form-more-option-check {
    padding-top: 39px;
}
.form-more-option-input {
    padding: 0;
}
.form-pari-choice-team {
    height: 90px;
    background: grey;
    position: absolute;
    width: 90%;
    opacity: 0;
    text-transform: uppercase;
    color: white;
    font-size: xx-large;
    text-align: center;
    transition: all 0.7s;
}
.form-pari-choice-teamtxt {
    margin-top: 20px;
}
.form-pari-radio-txt {
    text-align: center;
    font-size: 20px;
}
.form-pari-radio-input {
    height: 30px;
}
.btn-pari {
    text-align: center;
}
.btn-pari-link {
    width: 30%;
}
.btn-pari-link {
    width: 30% !important;
    position: absolute;
    z-index: 5;
    top: 10px;
    height: auto !important;
    left: 35%;
}
.form-information {
    border-top: 1px solid #e5e5e5;
    padding-top: 20px;
}
.form-information-txt {
    font-size: 13px;
    text-transform: uppercase;
    color: white;
    background: #40b2b5;
    padding: 10px;
}
.form-pari-radio-choice {
    padding-bottom: 20px;
}
.content_match-but-title {
    text-align: center;
    font-size: 14px;
}
.form-check-modal {
    width: 18px;
    height: 18px;
}
.header-content-logo {
    color: black;
}
.close-modal {
    cursor: pointer;
}
.header-content-title-modal {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}
.header-title-txt {
    display: flex;
}
.form-pari-input-bottom {
    margin-top: 20px;
}
.content_match-team-drapeau {
    width: 64px !important;
}
.content_matchfiche-flag {
    /*width: 128px !important;*/
}
.btn-match-infos {
    margin-left: -10px;
}
.form-pari-choice-fiche {
    opacity: 0.7;
    font-size: 18px;
}
.form-pari-fiche-teamtxt {
    margin-top: 47px;
}
.form-parifiche-mise-txt {
    font-size: 14px;
}
.form-parifiche-mise-coin {
    justify-content: center;
}
.form-pari-mise {
    text-align: center;
}
.form-parifiche-value {
    font-size: 15px;
}
.form-parifiche-group {
    display: flex;
    flex-direction: row
}
.logo-parifiche {
    width:30px;
    height: 40px;
}
.form-parifiche-more {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.form-parifiche-more-value {
    font-weight: bold;
    background: grey;
    color: white;
}
.form-parifiche-rubriqu {
    padding-bottom: 10px;
}
.form-parifiche-point {
    border-top: 1px solid #e5e5e5;
    padding-top: 20px;
}
.form-parifiche-avantage {
    border-top: 1px solid #e5e5e5;
    padding-top: 20px;
}
.form-parifiche-choice {
    opacity: 0.7;
}
.menu-mobile-delimiter {
    list-style-type: none;
}
/*.btn-pari {
    margin-top: 25px;   
}*/
.content-desk-first-form {
    margin-top: 15px;
}
.btn-login {
    outline: none !important;
    background-color: #40b2b5;
    border: solid 1px #40b2b5;
    font-size: 17px;
    height: 50px;
    color: white;
    width: 100%;
}
.btn-login-header {
    height: auto;
    width: auto !important;
    border-radius: 2px !important;
}
.btn-login-header:hover {
    color: white;
}
/*.login-connect {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}*/
.form-signup {
    /*display: flex;*/
    /*flex-direction: column-reverse;*/
    /*margin-left: 5px;*/
    font-size: 15px;
}
.body-error {
    padding-top: 0 !important;
}
.container-error {
    margin-top: 0 !important;
    background: rgba(64, 178, 181, -0.4);
}
.container-error-content {
    display: flex;
    flex-direction: column;
    width: auto;
    left: 50%;
    transform: translate(-50%,0);
    text-align: center;
    line-height: 83px;
}
.container-error-img {
    width: 128px;
    height: 128px;
    margin-left: 22%;
}
.container-error-txt {
    font-size: 50px;
}
.container-error-txtPage {
    font-size: 32px;
}
.content-jeton-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.btn-first-second {
    margin-right: 5px;
}
.content-tab-jeton-td {
    text-align: right !important;
}
.content-tab-jeton-value {
    color: #000000 !important;
}
.content-pari-suivre-txt {
    font-size: 15px;
    background: #40b2b5;
    padding: 10px;
    color: white;
}
.form-suivre-mise2 {
    font-size: 15px;
    font-weight: bold;
}
.btn-valid-suivre {
    margin-top: 15px;
}
.row-privacy-text {
    color: white;
}
.row-privacy-text-fournisseur {
    color: white;
    font-size: 15px;
}
.content-cookies {
    background: #000;
    position: fixed;
    z-index: 99999;
    bottom: 0;
    width: 100%;
    padding: 10px 50px;
    display: none;
    opacity: 0.7;
}
.content-cookies-txt {
    color: white;
    font-size: 15px;
}
.content-cookies-link {
    background: white;
    padding: 10px 20px;
    border-radius: 31px;
    font-size: 15px;
}
.content-cookies-linkref {
    color: white;
    text-decoration: underline;
}
.content-cookies-linkref:hover {
    color: white;
}
.login-user-invalide {
    background: #d9534f;
    color: white;
    width: auto;
    padding: 5px;
    margin-top: 5px;
    font-size: 13px;
    text-align: center;
    display: none;
}
.init-mdp-txt {
    font-size: 15px;
}
.text-lighter {
    font-weight: lighter;
}
.form-jeton-fiche {
    width: 20%;
}
.content-new-message {
    border-bottom: 1px solid #e5e5e5;
}
.content-message-list-user {
    padding-right: 0;
    padding-left: 0;
}
.content-message-list {
    padding-left: 0;
    padding-right: 0;
}
.sender-header {
    padding: 5px;
    background: #40b2b5;
    color: white;
    font-size: 20px;
}
.account-img {
    width: 150px; 
    height: 150px;
    padding: 10px;
}
.content-box-profil {
    padding-right: 0;
}
.content-login-form {
    background: white;
    color: black;
    padding: 15px;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.header_login-email {
    margin-bottom: 15px;
}
.form-login-input {
    height: 50px;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 17px;
    font-weight: lighter;
}
.content-login-signmdp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}
.list-activity {
    height: 100%;
    height: 900px;
    background: white;
}
#mCSB_1_container {
    margin-right: 0;
}
.description-activity-match {
    line-height: 25px;
}
.recent-activity-parisSend:hover {
    background: #F0F0F0;
    cursor: pointer; 
}
.nav-defi-ficheparisport{
    transform: translate(25%,0);
}
.container-page-simple {
    margin-top: 70px;
}
.content-politique{
    padding-top: 20px;
    text-align: justify;
    font-size: 13px;
}
.content-politique-header {
    text-decoration: underline;
}
.dropdown-notif-sender-img {
    width: 32px;
    height: 32px;
    border-radius: 25px;
}
.dropdown-notif-notif-txt {
    color: black;
    margin-left: 5px;
}
.menu-notif-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10px;
}
.dropdown-menu-notif {
    padding: 0 10px 10px 10px;
    width: 235px;
    left: -85px;
    color: black;
}
.dropdown-menu-notif li {
    border-bottom: solid 1px #dfe0e4;
}
.dropdown-menu-notif::after {
    left: 96px !important;
}
.dropdown-notif-time {
    color: #90949c;
}
.dropdown-notif-title {
    font-weight: bold;
}
.loader-notif {
    display: none;
    transform: translate(17%, 0);
}
.dropdown-menu-pagenotif {
    padding: 3px;
    text-align: center;
    font-size: 12px;
    background: #40b2b5;
    color: white;
    font-weight: bold;
}
.dropdown-menu-nonotif {
    text-align: center;
    padding: 5px;
    font-size: 15px;
}
.title-box-signup {
    border-bottom: solid 3px #40b2b5;
    padding-bottom: 5px;
}
.form-datenaissance {
    display: flex;
    flex-direction: row;
}
.form-datenaissance-group-second {
    margin-left: 5px;
}
.modal-activity-mobile {
    z-index: 6000;
}
.link-simple {
    color: black;
}
.notif-message:hover {
    text-decoration: underline;
}
.li-notif-liste:hover {
    background: #F0F0F0;
}
.user-activate {
    padding: 15px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 15px;
    background: #4EBF32;
    color: white;
    display: none;
}
.content-box-content-bottom {
    padding: 0;
}
.header-content-logo-bottom {
    left: 5px !important;
}
.img-thumbnail-no-border {
    border: 0 !important;
}
.content-login-body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.content-login-info {
    background: white;
    color: black;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
}
.content-login-ul {
    font-size: 15px;
    line-height: 30px;
    list-style-type: none;
    padding-left: 0;
    text-align: left;
}
.content-login-ul-second {
    list-style-type: none;
}
.content-login-list-type {
    background: #4EBF32;
    color: white;
    border-radius: 65px;
    font-size: 16px;
    padding: 2px 9px 3px;
    margin-right: 5px;
}
.content-login-header {
    padding: 5px;
    background: #40b2b5;
    color: white;
    margin-top: 0;
    font-size: 32px;
    font-weight: lighter;
}
.content-login-ul-puce {
    font-weight: bold;
    font-size: 25px;
    color: grey;
}
.btn-product-search {
    margin: 15px 0 15px 15px;
}
.list-activity-filtre {
    margin: 15px;
}
.recent-activity-hover a {
    color: black;
    text-decoration: none;
}
.recent-activity-hover:hover {
    background: #F0F0F0;
    cursor: pointer;
}
.link-mouvment {
    cursor: pointer;
}
.content-match-score-all {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btn-signup {
    margin-top: 15px !important;
    padding: 13px !important;
    
    }
.icon-no-glyph {
    left: -54px;
}
.product-container:hover {
    transform: scale(1.05);
    z-index: 400;
}
.product-magasin-price {
    font-size: 13px;
    color: #bd6d6d;
}

.content-product-choice {
    background: rgba(0,0,0,0);
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: all 0.3s;
}

.product-container:hover .content-product-choice {
    background: rgba(0,0,0,0.5);
}
.content-product-choice:hover .content-product-btn {
    opacity: 1;
}
.content-product-choice:hover .content-product-btn-top {
    margin-top: 0;
}
.content-product-choice:hover .content-product-btn-bottom {
    margin-bottom: 0;
}
.content-product-btn {
    background: #269b9e;
    color: white !important;
    text-decoration: none !important;
    font-size: 15px;
    padding: 10px;
    text-align: center;
    border-radius: 26px;
    opacity: 0;
    transition: all 0.3s;
}
.content-product-btn-top {
    margin-top: -136px;
}
.content-product-btn-bottom {
    margin-bottom: -127px;
}
.content-product-btn:hover {
    color: white;
    text-decoration: none;
}
.real-price-enchere {
    color: black !important;
    font-size: 11px !important;
}
.old-price-enchere {
    font-size: 11px !important;
    text-decoration: none !important;
    color: black !important;
}
.fiche-prod-desc {
    word-break: break-all;
    color: grey;
}
.fiche-prod-price {
    font-weight: bold;
}
.form-fiche-produit-inputprix {
    width: 50%;
}
.form-fiche-produit-btn {
    width: 40%;
}
.fiche-produit-form-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content-fiche-team {
    text-align: center;
}
.content-fiche {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.content-fiche-away {
    flex-direction: row-reverse;
}
.content_fiche-score-away {
    margin: 33px 20px 0 0;
}
.match-info-phase-item {
    padding: 5px 15px;
}
.content-fiche-score-img {
    text-align: center;
}
.content-fiche-score-away {
    text-align: right;
}
.content-fiche-score-txt {
    font-size: 12px;
}
.content-fiche-statistique {
    margin-top: 40px;
}
.content-fiche-title {
    background: #40b2b5;
    color: white;
    padding: 5px 10px 5px 10px;
}
.content-fichenav-element {
    padding: 15px;
    border-bottom: solid 1px #dfe0e4;
}
.content-fichenav-defi-joueur {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content-fichenav-defi-rubrique {
    text-align: center;
    font-weight: bold;
    margin: 0 5px;
}
.content-fichenav-defi-joueurtxt {
    font-size: 12px;
    font-weight: bold;
}
.btn-match-suivre-tab {
    font-size: 13px;
}
.match-infos-mobile {
    display: none;
    background: #337ab7;
    color: white;
    padding: 5px 0 0 0;
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
    height: auto;
    border-radius: 7px;
}
/*.product-price {
    font-weight: bold;
}*/
.product-warning {
    margin-top: 10px;
    padding: 10px;
    font-size: 13px;
    background: #d9534f;
    color: white;
    border-radius: 4px;
}
.logo-home2 {
    background: black;
    border-radius: 10px;
}
.content-home-ul {
    margin-top: 10px;
}
.btn-mobile {
    display: none;
}
.btn-mobile-signin {
    margin-top: 5px;
}
.btn-login-header {
    font-size: 13px !important;
}
.home-more-match {
    border: solid 0.3px #e5e6e9;
    margin-top: 15px;
    text-align: center;
    background: #f0f0f0;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.home-more-match-logo {
    margin-top: -13px;
}
.home-more-match-txt {
    font-size: 15px;
    color: black;
    text-decoration: none;
}
.home-more-match-txt:hover {
    text-decoration: none !important;
}
.form-submit-btn {
    display: flex;
    flex-direction: row;
}
.btn-signin-header {
    margin-top: 20px;
    margin-left: 5px;
    color: white !important;
    text-decoration: underline;
}
.container-accueil {
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
}
.btn-match-suivre-tab {
    border-radius: 5px !important;
}
.menu-mobile-link-badge {
    background: #4EBF32;
    padding: 3px 6px;
    color: white;
    border-radius: 25px;
    font-size: 11px;
}
.match-infos-mobile-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid 1px #e5e6e9;
    border-radius: 5px;
    padding-top: 8px;
    color: white;
    font-size: 12px;
    background: #337ab7; 
}
.product-name-fiche {
    padding: 0 !important;
}
.description-product-fiche {
    padding: 0 !important;
}
.fiche-prod-price{
    font-weight: bold;
}
.chat-popup  {
    bottom: 0;
    position: fixed;
    display: none;
}
.chat-header {
    background: #40b2b5;
    display: flex;
    flex-direction: row;
    padding: 5px;
    color: white;
    justify-content: space-between;
    cursor: pointer;
}
.chat-header-title {
    margin: 0;
    font-size: 12px;
}
.chat-body {
    height: 100%;
    background: white;
    padding: 10px;
    border-left: solid 0.3px #d0d1d5;
    border-right: solid 0.3px #d0d1d5;
}
.chat-body-message {
    display: flex;
    flex-direction: row;
}
.chat-body-message-reverse {
    flex-direction: row-reverse !important;
}
.chat-body-img-user {
    border-radius: 60px;
}
.chat-body-message-txt-away {
    margin-left: 10px !important;
    background: #e5e6e9!important;
    color: #4b4f56 !important;
}
.chat-body-message-txt {
    margin-right: 10px;
    font-size: 12px;
    background: #40b2b5;
    color: white;
    padding: 7px;
    border-radius: 13px;
    height: auto;
}
.chat-body-message-send {
    width: 78%;
    border: 0;
    margin: 0px 0px 0px 7px;
    height: 49px;
    padding: 10px;
    background: #e5e6e9;
    border-radius: 10px;
    outline: none;
    min-height: 49px;
    max-height: 49px;
    min-width: 78%;
}
.chat-body-message-form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.chat-body-message-send-btn {
    top: 50%;
    transform: translate(0,50%);
    cursor: pointer;
}
.chat-body-message-list {
    height: 230px;
    max-height: 230px;
    overflow-y: scroll;
}
.btn-fiche-produit {
    margin-top: 5px;
}
.tab-histo-enchere {
    width: 100%;
}
.content-fiche-histo-title {
    padding: 5px;
    border-bottom: solid 1px #40b2b5;
}
.tab-histo-enchere thead {
    background: #40b2b5;
}
.tab-histo-enchere thead th{
    padding: 10px;
    color: white;
}
.th-border {
    border-right: solid 1px white;
}
.content-fiche-histo-no {
    font-size: 15px;
}
.tab-histo-enchere tbody tr{
    border-bottom: solid 1px #d0d1d5;
}
.tab-histo-enchere tbody tr td {
    padding: 10px;
}
.fiche-prod-label {
    font-weight: bold;
}
.fiche-prod-label-index {
    padding-top: 5px;
    color: #555;
}
.product-container-enchere {
    height: 376px !important;
    display: block !important;
}
.price-vente {
    padding-left: 15px;
    padding-top: 15px;
}
.login-connect-false {
    font-size: 14px;
    background: #5cb85c;
    color: white;
    padding: 10px;
    display: none;
}
.match-ante-div {
    margin-top: 50px;
}
.match-ante-title {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 7px;
    color: white;
    background: #337ab7;
    text-align: center;
    margin: 0;
}
.list-match-ante {
    border-bottom: 1px solid #ddd;
}
.list-match-ante-date {
    padding: 5px;
    color: #555;
    text-align: center;
    font-size: 12px;
    margin: 0;
}
.list-match-ante-equipe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.list-match-equipe-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 10px;
}
.list-match-equipe-info-reverse {
    flex-direction: row-reverse !important;
}
.content-histo-list {
    padding: 0;
    border-left: solid 5px #40b2b5;
    border-bottom: solid 1px #e5e6e9;
    margin-bottom: 20px;
}
.more-enchere {
    cursor: pointer;
    text-align: center;
    left: 50%;
    transform: translate(-50%,0);
}
.more-enchere-txt {
    font-size: 13px;
}
.content-histo-form {
    margin-bottom: 20px;
}
.input-group-addon-ketrika {
    background: #40b2b5;
    color: white;
    border: none;
}
.btn-search-enchere {
    margin-top: 10px;
}
.content-histo-form {
    text-align: center;
}
.histo-enchere-loader {
    margin-left: 50%;
    transform: translate(-50%,0);
    display: none;
}
.read-all-notif {
    text-align: right;
    padding: 5px;
    text-decoration: underline;
    cursor: pointer;
}
.none-search-histo {
    font-size: 15px;
    text-align: center;
}
.content-body-faq {
    font-size: 13px;
}
.content-body-livraison {
    font-size: 13px;
}
.tab-histo-enchere-compo {
    max-height: 400px;
    height: auto;
}
.histo-comment {
    max-height: 400px;
    height: auto;
}
.content-box-point {
    text-align: center;
    padding: 0;
    margin-bottom: 15px;
    background: white;
}
.activity-recent {
    padding-left: 0;
    padding-right: 0;
}
.content-box-point-img {
    border-radius: 5px;
}
.content-box-point-btn {
    text-align: center;
    padding: 10px 35px;
    color: black;
    text-transform: uppercase;
    transition: all 0.3s;
    border-bottom: solid 1px #d0d1d5;
    text-align: center;
    transition: all 0.3s;
    font-size: 10px;
}
.content-box-point-btn:hover {
    transform: scale(1.05);
    color: white !important;
    text-decoration: none !important;
    background: #232f3e;
}
.content-box-point-title {
    margin: 0;
    border-bottom: solid 1px #d0d1d5;
    top: 0;
    font-size: 13px;
    font-weight: lighter;
    padding: 5px 19px;
}
.content-box-point-btn-mobile {
/*    bottom: 90px;*/
}
.content-box-point-btn-windows {
    bottom: 45px;
}
.content-box-point-resp {
    display: none;
}
.logo-btn-point {
    margin-top: -5px;
}
.form-pari-jdp-text {
    font-size: 12px;
}
.form-pari-point_avance {
    margin-top: 10px;
}
.form-input-regle {
    width: 50%;
}
.form-pari-div-border {
    border-top: solid 1px #e5e6e9;
}
.btn-pari-conf {
    margin-left: 15px;
    padding: 7px 30px;
}
.conf-jdp-player {
    text-align: center;
}
.conf-jdp-player-name {
    font-size: 20px;
}
.conf-jdp-player-color {
    font-size: 14px;
    color: white;
    padding: 5px;
    width: 100%;
}
.conf-jdp-player-blue {
    text-align: left;
    background: #4267b2;
    margin-left: -30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.conf-jdp-player-red {
    text-align: right;
    background: #d9534f;
    margin-left: 30px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.validated-icon {
    transform: scale(9);
    opacity: 0;
    transition: all 0.3s ease 0.3s;
    position: absolute;
    z-index: 0;
    left: 10%;
}
.validated-blue {
    left: 10%;
}
.btn-validated {
    position: relative;
    transition: all 0.3s;
    z-index: 1;
}
.conf-jdp-fiche-mobile {
    display: none;
    margin-top: 20px;
    border-top: solid 1px #e5e6e9;
    padding-top: 10px;
}
.form-point-gagnant {
    display: flex;
    flex-direction: row;
}
.form-handicap-div {
    left: 40px;
}
.content_match-avantage-home {
    display: flex;
    flex-direction: row;
    font-size: 22px;
    z-index: 1000;
}
.content_match-avantage-info {
    color: white;
    padding: 1px 5px;
    border-radius: 8px;
    font-weight: bold;
    background: #F28313;
    font-size: 11px;
    height: 16px;
}
.info-avantage-icon {
    color: white;
}
.form-pari-suivre-team-avantage {
    display: flex;
    flex-direction: row;
}
.form-pari-fiche-mine-equipe {
    display: flex;
    flex-direction: row;
}
.avantage-suivre-home {
    margin-right: 5px;
}
.avantage-suivre-away {
    margin-left: 5px;
}
.content-fiche-nav-rubrique-advantage {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.content_match-avantage-home-pari {
    font-size: 15px !important;
}
.text-defi-avantage-title {
    margin-bottom: 0 !important;
}
.text-defi-avantage-txt {
    margin-top: 0 !important;
}
.content-fichenav-defi-avantage1 {
    left: -7%;
}
.content-fichenav-defi-avantage2 {
    left: 50%;
    transform: translate(-50%,0);
}
.btn-none {
    opacity: 0;
}
.content-defi-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.btn-match-info-defi {
    margin-left: 10px;
}
.description-product-enchere {
    max-height: 46px;
}
.fournisseur-box {
    background: white;
    border-radius: 10px;
    margin-top: 10px;
}
.fournisseur-img {
    /*border: solid 1px #d0d1d5;*/
    border-radius: 5px;
    padding: 5px;
    width: auto;
    margin: 5px;
}
.fournisseur-box-title {
    padding: 5px;
    border-bottom: solid 2px #40b2b5;
}
.menuDroite-infos {
    background: #2e6da4;
    color: white;
    padding: 5px;
    margin-bottom: 5px;
}
.menuDroite-infos-title {
    border-bottom: solid 1px white;
}
.menuDroite-info-txt {
   font-size: 13px; 
}
.fournisseur-box-connected {
    z-index: 500;
    position: fixed;
    top: 135px;
    background: white;
    width: 50%;
    padding: 10px 20px;
    left: -1215px;
    transition: all 0.3s;
    border-right: solid 4px #2e6da4;
}
.fournisseur-box-txt {
    z-index: 400;
    position: fixed;
    top: 188px;
    background: #2e6da4;
    color: white;
    transform: rotate(91deg);
    padding: 12px 18px;
    font-size: 16px;
    left: -52px;
    transition: all 0.3s;
    cursor: pointer;
}
.close-fournisseur {
    margin-left: 95%;
    cursor: pointer;
}
.fiche-nbbid-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px;
    border: solid 2px #40b2b5;
    border-radius: 6px;
    background: white;
    color: black;
    margin: 5px;
    height: 56px;
}
.fiche-nbbid-box-img {
    border-radius: 20px;
}
.fiche-nbbid-box-txt {
    font-size: 13px;
    margin: 0;
}
.content-defi-info {
    display: flex;
    justify-content: space-between;
}
.content-defi-player {
    text-align: center;
}
.defi-player-img{
    border-radius: 35px;
}
.defi-player-name {
    font-size: 15px;
}
.defi-info-double {
    display: flex;
    justify-content: space-evenly;
}
.defi-jeton-value {
    font-size: 15px;
}
.defi-jeton-libelle {
    font-size: 15px;
    font-weight: bold;
}
.content-produit-list {
    text-align: left !important;
    margin-top: 10px;
}
.banner {
    margin-bottom: 10px;
}
.slick-next {
    right: 10px !important;
}
.slick-prev {
    left: 10px !important;
    z-index: 10 !important;
}
.default-slick-box {
    background: white;
    padding: 10px;
    margin-bottom: 20px;
}
.box-title {
    font-size: 18px;
    color: white;
    padding: 5px;
    font-size: 18px;
    width: 40%;
    border-top-right-radius: 38px;
}
.box-title-rubrique {
    font-size: 18px;
    font-weight: bold;
}
.box-title-orange {
    color: #C60!important;
}
.box-title-1 {
    background: #232f3e;
}
.box-title-2 {
    background: #2e6da4;
}
.box-title-3 {
    background: #F77100;
}
.box-title-4 {
    background: #9D00A6;
}
.box-title-5 {
    background: #EA0000;
}
.btn-prev {
    display: inline-block;
    position: absolute;
    top: 53px;
    z-index: 10;
    font-size: 31px;
    border: none;
    background: rgba(35,47,62,0.7);
    color: white;
    padding: 15px 10px;
    outline: none;
}
.btn-next {
    isplay: inline-block;
    position: absolute;
    top: 53px;
    z-index: 10;
    right: 0;
    font-size: 31px;
    border: none;
    background: rgba(35,47,67,0.7);
    color: white;
    padding: 15px 10px;
    outline: none;
}
.box-rubrique {
    text-align: center;
    padding: 10px;
    font-size: 19px;
    cursor: pointer;
    transition: all 0.3s;
    height: 150px !important;
}
.box-rubrique:hover {
    transform: scale(1.1);
    z-index: 500;
}
.box-rubrique-title {
    color: white;
}
.box-1 {
    background: #2e6da4;
}
.box-2 {
    background: #F77100;
}
.box-3 {
    background: #9D00A6;
}
.box-4 {
    background: #E02900;
}
.box-5 {
    background: #D62066;
}
.box-6 {
    background: #178A47;
}
.box-7 {
    background: #232f3e;
}
.box-8 {
    background: #511F69;
}
.box-9 {
    background: #328487;
}
.box-10 {
    background: #704719;
}
.box-11 {
    background: #57524D;
}
.logo-rubrique {
    transform: translate(85%, 0);
}
.box-list-simple {
    display: flex;
    justify-content: space-between;
    background: white;
    padding-right: 0;
}
.box-list-title {
    font-size: 20px;
    transform: translate(0,31%);
    top: 44%;
}
.box-list-img {
/*    border-top-left-radius: 81px;
    border-bottom-left-radius: 81px;*/
}
.box-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.box-match-head {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
.box-match-content {
    display: flex;
    justify-content: space-between;
}
.box-matchteam-name {
    font-size: 15px;
    max-width: 20px;
}
.box-team-flag {
    height: 64px !important;
/*    width: 64px !important;*/
}
.box-team-score {
    font-size: 45px;
}
.box-match-info {
    text-align: center;
    font-size: 12px;
}
.box-list-match {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 5px;
    flex-wrap: wrap;
}
.box-match-bottom {
    padding-top: 20px;
    border-top: solid 1px #e5e6e9;
}

.box-match {
    transition: 0.3s;
    border-radius: 8px;
    border: solid 1px white;
}
.box-match:hover {
    border: solid 1px #d0d1d5;
}
.xzoom {
    padding: 5px;
}
.xzoom-gallery {
    padding: 5px;
}
.product-title {
    margin-top: 0;
    font-weight: lighter;
    border-bottom: solid 1px #d0d1d5;
}
.product-provide {
    font-size: 12px;
}
.provide-link {
    color: black !important;
    font-weight: bold;
}
.product-libelle-title {
    font-weight: bold;
    font-size: 13px;
}
.description-product {
    border-bottom: solid 1px #d0d1d5;
}
.product-price-info {
    padding-left: 0;
}
.product-stock {
    color: #64996c;
    font-size: 24px;
}
.product-price {
    font-size: 14px;
}
.price-real {
    text-decoration: line-through;
}
.product-price-ketrika {
    font-weight: bold;
}
.prix-mga-ketrika-fiche {
    font-size: 19px;
}
.product-button-group {
    padding: 0;
    padding-top: 5px;
}
.btn-shop {
    background: #f68b1e;
    padding: 9px 12px;
    color: white;
    border: none;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    outline: none; 
    transition: 0.3s;
}
.btn-shop-bottom {
    margin-top: 5px;
}
.btn-shop:hover {
    transform: scale(1.1);
}
.product-fiche-info-group {
    background: #f8f8f8;
    padding: 10px;
}
.fiche-infos {
    display: flex;
    flex-direction: row; 
}
.fiche-infos-bottom {
    margin-top: 5px;
}
.product-info-supp-txt {
    margin: 0;
    font-size: 15px;
    margin-top: 6px;
}
.product-info-supp-logo-percent {
    color: #3e6a95;
    font-weight: bold;
    font-size: 10px;
    border: solid 2px #3e6a95;
    padding: 11px 3px;
    border-radius: 32px;
}
.product-supp-txt-bottom {
    margin-left: 10px;
}
.product-info-supp {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.product-info-supp-txt-left {
    margin-left: 5px;
}
.slick-box-fiche {
    border-top: solid 1px #e5e6e9;
}
.nav-head {
    background: #f8f8f8;
    color: grey;
    font-size: 13px;
    font-weight: bold;
}
.nav-carac-content {
    display: none;
}
.desc-section {
    margin-top: 20px;
}
.desc-section-head {
    padding: 0;
}
.nav-desc-content {
    font-size: 13px;
    padding: 10px;
    border-top: 1px solid rgb(229, 230, 233);
}
.nav-carac-content {
    font-size: 13px;
    padding: 10px;
    border-top: 1px solid rgb(229, 230, 233);
}
.product-carac-tab td{
    padding: 10px !important;
    border: 1px solid rgb(229, 230, 233);
}
.tab-tad-bold {
    background: #F5F5F5 !important;
}
.product-delivery-section {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid rgb(229, 230, 233);
}
.product-delivery-section ul {
    font-size: 13px;
}
.product-info-delivery {
    cursor: pointer;
}
.product-info-delivery:hover {
    text-decoration: underline;
}
.product-bottom-section {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid rgb(229, 230, 233);
}   
.box-content-default {
    font-size: 13px;
}
.product-fourn-annex {
    margin-top: 5px;
}
.product-slick-price {
    display: flex;
    font-size: 15px;
    margin: 0 !important;
}
.product-slick-title {
    font-size: 13px;
    text-transform: lowercase;
    margin: 0 !important;
    max-width: 77%;
    font-weight: bold;
}
.product-slick-infos {
/*    transform: translate(10%, 0);*/
}
.product-slick-economi {
    color: grey;
}
.product-slick-box {
    cursor: pointer;
}
.box-section-home {
    margin-top: 0 !important;
    background: white;
}
.banner-2000-bloc {
    display: none !important;
}
.box-enchere-content {
    line-height: 19px;
}
.box-enchere-desc {
    font-size: 15px;
}
.box-enchere {
    cursor: pointer;
}
.box-outline-none {
    outline: none;
}
.box-product {
    border: 1px solid rgb(229, 230, 233);
    padding: 15px;
    height: 340px;
    margin-bottom: 10px;
    text-align: center;
}
.box-product-height {
    height: 364px !important;
}
.box-product-name {
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    margin-top: 11px;
    cursor: pointer;
    text-transform: lowercase;
    height: 36px;
}
.box-product-name:hover {
    text-decoration: underline;
}
.box-product-img-fournisseur {
    margin-bottom: 10px;
}
.box-product-img {
    cursor: pointer;
    transition: 0.3s;
/*    left: 65%;
    transform: translate(65%,0);*/
}
.box-img {
    height: 150px;
}
.box-product-img:hover {
    transform: scale(1.1);
}
.product-box-price {
    font-size:15px;
}
.product-box-price-old {
    color: grey;
    font-size: 13px;
    text-decoration: line-through;
}
.btn-add-panier {
    background: #ffa724;
    padding: 5px 15px;
    width: 100%;
    border: none;
    font-size: 12px;
    font-weight: bold;
    transition: 0.3s;
}
.btn-add-panier:hover {
    transform: scale(1.1);
}
.box-stock {
    background: #538000;
    color: white;
    padding: 5px;
    font-size: 13px;
    position: absolute;
    text-align: center;
    top: 0;
    z-index: 10;
    right: 0;
    border-bottom-left-radius: 18px;
}
.box-nostock {
    background: #E32945;
}
.font-product-nostock {
    color: #E32945;
}
.font-title-partenaire{
    font-size: 35px;
}
.header-contact {
    display: flex;
    justify-content: flex-end;
}
.header-call-icon {
    margin-right: 10px;
    margin-top: 10px;
}
.btn-mobile-login {
    font-size: 13px;
    transform: translate(50%,20px);
}
.btn-login-connect {
    color: white !important;
    text-decoration: underline !important;
}
.flash-sale {
    background: white;
}
.box-title-flash {
    font-size: 30px;
}
.box-enchere-title {
    color: #F77100;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.box-fournisseur {
    padding: 0 !important;
    margin-bottom: 10px;
}
.footer-list {
    font-size: 12px;
    color: white;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    line-height: 23px;
    flex-wrap: wrap;
}
.header-list {
    font-size: 13px;
    color: black;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    line-height: 23px;
    margin: 0;
    padding: 10px;
    border-bottom: solid 1px #e5e6e9;
}
.list-no-padding {
    padding: 0;
}
.list-style-none {
    list-style-type: none;
}
.footer-list-head {
    font-weight: 700;
    font-size: 16px;
}
.footer-link:hover {
    text-decoration: underline;
    cursor: pointer;
}
.list-paiement-footer {
    display: flex;
}
.footer-bici {
    background: #131a22;
    padding: 10px;
    width: 103% !important;
}
.xzoom-img-general {
    width: auto;
    height: auto;
    max-height: 400px;
}
.menu-header {
/*    position: fixed;*/
    z-index: 30;
/*    top: 100px;*/
    background: #fafafa;
    transition: 0.3s;
    left: 0;
}
.menu-header:not(:hover) .menu-header-sous-rubrique{
    display: none;
}
.menu-header-title {
    cursor: pointer;
    padding: 5px;
    font-weight: bold;
}
.menu-header-title:hover {
    color: #e47911;
    border-bottom: solid 2px #e47911;
}
.list-display-none {
    display: none;
}
.menu-header-sous-rubrique {
    color: black;
    font-size: 13px;
    line-height: 29px;
    transition: all 0.3s;
    height: 0;
}
.list-display-sous li {
   transition: all 0.3s;
   cursor: pointer;
}
.list-display-sous li:hover {
    color: #e47911;
    font-size: 15px;
    font-weight: bold;
}
/*.menu-header-connected {
    top: 76px;
}*/
.link-default {
    color: black !important;
}
.link-default:hover {
    text-decoration: none !important;
}
.bloc-separator {
    border-left: solid 1px #d0d1d5;
}
.box-enchere-prod-name {
    color: #6A6B6B;
    font-weight: bold;
}
.box-enchere-prod-prix {
    color: black;
}
.libelle-product {
    color: black !important;
}
.libelle-product:hover {
    text-decoration: underline;
}
.box-flash {
    transform: translate(-15%, 0);
}
.box-enchere-mga {
    font-size: 11px;
}
.box-flash-icon {
    position: absolute;
    transform: rotate(-31deg);
    left: -57px;
    width: 76px;
    height: 89px;
    top: -12px;
}
.box-vente-flash {
    border-top: solid 2.2px grey;
    border-right: solid 2.2px grey;
}
.prix-mga {
    font-size: 16px;
}
.enchere-img {
    height: auto;
    max-height: 500px;
}
.menu-link{
    font-size: 12px;
}
.menu-content{
    border-right: solid #f0edf0 5px;
}
.font-title-partenaire{
    font-size: 35px;
}
.menu-content{
    border-right: solid #f0edf0 5px;
}
.song-container{
    width:23.75% !important;
}
.song-name{
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    margin-bottom: -15px;
}
.song-artist{
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
}
.media-price{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.box-img{
    text-align: center;
}
.media-img{
    display: initial !important;
}
.box-media{
    width: 24.333333% !important;
}
.media-search-form{
    display: flex;
    margin-bottom: 10px;
}
.box-icon{
    background:#ffa724;
    color:black;
    font-size: 15px;
}
.slick-box-price {
/*    transform: translate(15%,0);*/
}
.box-product-price-section {
    height: 109px;
}
.prix-noexpo {
    margin-top: 3px;
}
.header-payment-infos {
    cursor: pointer;
    width: 180px;
    font-size: 13px;
}
.header-payment-infos:hover p {
    text-decoration: underline;
}
.box-enchere-flash {
    height: 270px;
    display: none;
}
.box-product-list-img {
    height: auto;
    max-height: 150px;
}
.banner-mobile-resp {
    display: none !important;
}
.container-utilisateur {
    background: white !important;
}
.box-img-flash {
    transform: translate(27%,0);
    max-width: 160px;
    height: auto;
    max-height: 250px;
}
.header-search {
    transform: translate(0px, 25%);
    display:  flex;
}
.search-header-btn {
    background: transparent;
    border: none;
    outline: none;
    transition: all 0.3s;
}
.search-header-btn:hover {
    transform: scale(1.5);
}
.header-search-select {
    width: 77px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background: #F0EDF0 !important;
}
.header-search-input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.header-welcome {
    font-size: 15px;
}
.header-connect-txt {
    font-size: 13px;
    cursor: pointer;
    color: white;
    text-decoration: underline;
}
.header-connect-txt:hover {
    text-decoration: underline;
    color: white !important;
}
.header-connect-form:hover .form-connect-header{
    opacity: 1;
    z-index: 500;
    /*visibility: visible;*/
/*    top: auto;*/
}

.form-connect-header {
/*    z-index: 500;*/
    /*visibility: hidden;*/
    text-align: left;
    background: white;
    padding: 10px;
    width: 235px;
    right: 0;
    position: absolute;
    height: auto;
    border-radius: 3px;
    opacity: 0;
    transition: all 0.3s;
/*    top: -240px;*/
}
.form-connect-header a {
    color: black;
    font-size: 12px;
    font-weight: bold;
}
.form-connect-link-insc {
    background: #ffa724;
    padding: 10px;
    cursor: pointer;
}
.form-connect-header label {
    font-size: 14px;
    color: black;
}
.form-header-connect-btn {
    margin-top: 5px;
    padding: 10px;
    background: #232f3e;
    border: none;
    font-size: 13px;
    border-radius: 3px;
}
.header-connected-search {
    margin-bottom: 15px;
    transform: translate(38%,0);
}
.header-connected-search-mobile {
    display: none;
}
.header-menu-mobile-2 {
    display: none;
}
.box-text-img {
    background: white;
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
.box-text-img-txt {
    margin: 0;
    transform: translate(0,40%);
    font-size: 20px;
}
.modal-z-index {
    z-index: 2000;
}
.section-canal-service-1 {
    display: flex;
    justify-content: space-evenly;
}
.canal-service-img {
    cursor: pointer;
    transition: all 0.3s;
}
.canal-service-img:hover {
    transform: scale(1.1);
}
.section-canal-service-2 {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}
.section-canal-service-3 {
    margin-top: 20px;
}
.menu-none {
    color: #444343 !important;
}
.navigation-item {
    border-bottom: solid 1px #d0d1d5;
}
.menu-media {
    transition: all 0.3s;
}
.menu-media:hover {
    background: #232f3e;
    color: white !important;
    transform: scale(1.1);
}
.box-checked-1 {
    opacity: 0;
    position: absolute;
    height: 161px;
    text-align: center;
    width: 173px;
    background: rgba(0,0,0,0.5);
    transition: all 0.3s;
}
.box-2 {
    width: 166px;
}
.box-3 {
    width: 165px;
}
.box-4 {
    width: 166px;
}
.box-5 {
    width: 240px;
}
.box-6 {
    width: 179px;
}
.box-checked-img-1 {
    transform: translate(0,80%);
}
.section-canal-service-3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.box-canal-1 {
    transition: all 0.3s;
    cursor: pointer;
}
.box-canal-1:hover {
    transform: scale(1.1);
}
.box-checked-cancel {
    font-weight: bold;
    transform: translate(0,250%);
    padding: 5px; 
    background: white;
    color: black;
}
.box-checked-lg {
    opacity: 0;
    position: absolute;
    width: 387px;
    height: 650px;
    background: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s;
}
.box-checked-md {
    width: 232px !important;
    height: 550px !important;
}
.box-checked-cancel-lg {
    background: white;
    padding: 5px;
    transform: translate(86%,0);
    font-weight: bold;
    width: 140px;
    border-radius: 3px;
    text-align: center;
    margin-top: 5px;
}
.box-checked-cancel-md {
    transform: translate(34%, 0) !important;
}
.maintenance-container {
    position: fixed;
    z-index: 600;
    background: rgba(206,111,111,0.8);
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    left: 50%;
    transform: translate(-50%,0);
}
.maintenance-container p:last-child {
    margin: 0;
}
.maintenance-container {
    display: none;
}
.img-media-icon {
    transform: translate(0,30%) !important;
}
.box-media-content {
    transform: translate(0%,40%);
}
/*.logo-mobile-2 {
    display: block;
} */

/*PHONES*/
/*portrait-phones*/
@media only screen and (max-width: 320px) {
    .header-form-login {
        display: none;
    }

}

/*EXECEPT*/
@media only screen and (max-width: 718px) {
    .content-fichenav-defi-avantage2 {
        padding: 0;
        padding-right: 7px;
    }
    .content-fichenav-defi-avantage1 {
        padding: 0;
    }
}

/*landscape-phones*/
@media only screen and (min-width: 480px) and (max-width: 769px) {
    .slick-box-rubrique {
        /*width: 107px !important;*/
        /*height: 139px !important;*/
        font-size: 11px !important;
    }
    .logo-rubrique {
        width: 32px !important;
        height: 32px !important;
    }
    .content-match-score-all {
        padding: 0;
    }
    .header-index {
        margin-top: 5px !important;
        padding-bottom: 26px;
    }
    .header-data-index {
        margin-top: 0 !important;
    }
    .header-menu-mobile {
        display: block !important;
    }
    .menu-mobile {
        display: block;
    }
    .header-logo-index {
        text-align: center !important;
    }
    .header-data {
        padding: 0 !important;
    }
    .board-widgets {
        display:none;
    }
    .body-clearfix {
        width: 100%;
    }
    .content-activity-player-name {
        font-size: 17px;
    }
    .content-activity-player-level {
        font-size: 19px;
    }
    .description-activity {
        font-size: 17px;
    }
    .btn-match-infos {
        font-size: 20px;
        margin-left: 0;
        /*margin-top: 20px;*/
        /*border-radius: 15px;*/
    }
    .content_match-score-stat {
        display: none;
    }
    .match-info-title-txt,
    .match-info-phase-title,
    .match-info-phase-item{
        font-size: 16px !important;
    }
    .content_match-but-list,
    .content_match-but-title {
        font-size: 20px;
    }
    .content-activity {
        display: none;
    }
    .header-infos {
        display: none;
    }
    /*.content-second-form {
        margin-top: 15px;
    }*/
    .content_match-score-away {
        margin-left: -4px !important;
    }
    .content-fiche-infos {
        display: none;
    }
    .content_match-score {
        margin: 0 0 0 20px;
        font-size: 45px;
    }
    .content_match-score-fiche-home {
        margin: 20px 0 0 20px !important;
    }
    .content_fiche-score-away {
        margin: 20px 10px 0 0;
    }
    .match-infos-mobile {
        display: block;
    }
    .btn-login-header {
        margin-top: 0;
    }
    .btn-signin-header {
        margin-left: 10px;
    }
    .form-submit-btn {
        flex-wrap: nowrap;
    }
    .content-box-point-title {
        font-weight: bold;
    }
    .conf-jdp-fiche {
        display: none;
    }
    .conf-jdp-fiche-mobile {
        display: block;
    }
}

/*all-phones*/
@media only screen and (max-width: 480px) {
/*    .input-insc {
        width: 90% !important;
    }
    .form-connect-link-insc {
        text-align: center;
    }
    .form-input-section {
        display: flex;
    }
    .form-connect-header {
        width: 100%;
    }*/
    .box-space-media {
        display: none;
    }
    .chat_box{
        display:none;
    }
    .box-text-img-txt {
        transform: translate(0,10%);
    }
    .logo-mobile-2 {
        display: block;
    }
    .header-logo {
        display: none;
    }
    .navigation-header {
        padding-bottom: 10px;
    }
    .header-connected-search-mobile {
        display: block;
    }
    .header-data-info-mob {
        padding: 10px 10px 0 10px;
    }
    .header-page {
        padding: 0 !important;
    }
    .header-logo-not-connected {
        display: none;
    }
    .box-enchere-desc {
        font-size: 13px;
    }
    .box-flash-icon {
        left: 23px;
        top: -36px;
        width: 38px;
    }
    .container-utilisateur {
        background: none;
        box-shadow: none;
        margin: 0;
        margin-top: 50px !important;
    }
    .row-utilisateur {
        background: none;
    }
    .container-mobile {
        margin: 0 !important;
    }
    .logo-header-home2 {
        position: absolute;
        top: -10px;
        left: 0;
    }
    .box-product-name {
        font-size: 11px;
    }
    .btn-add-panier {
        font-size: 8px;
    }
    .footer-list-head {
        font-size: 13px;
    }
    .footer-list {
        font-size: 11px;
    }
    .banner-mobile-resp {
        display: block !important;
    }
    .banner {
        display: none !important;
    }
    .banner-2000-bloc {
        diplay: none !important;
    }
    .box-flash {
        position: relative !important;
    }
    .box-flash-content {
        transform: translate(24%,21%);
    }
    .box-flash-icon {
        left: 35px;
        top: -30px;
    }
    .box-enchere {
        height: 250px;
    }
    .box-enchere-flash {
        height: auto;
        display: block;
    }
    .product-slick-title {
        font-size: 12px !important;
    }
    .box-title {
        width: 95%;
    }
    .content-login-ul {
        font-size: 12px;
    }
    .header-payment-infos {
        display: none;
    }
    .menu-header {
        display: none;
    }
    .slick-box-rubrique {
        /*width: 107px !important;*/
        /*height: 139px !important;*/
        font-size: 11px !important;
    }
    .logo-rubrique {
        width: 32px !important;
        height: 32px !important;
    }
    .banner-mobile-bloc {
        display: block;
    }
    .banner-rel-1500 {
        display: none;
    }
    .banner-rel-mobile {
        display: block;
    }
    .container-bloc {
        margin: 0 !important;
        margin-top: 60px;
        padding: 0 !important;
    }
    .btn-mobile-login {
        font-size: 12px;
        transform: translate(0,0);
    }
    .header-contact {
        display: none;
    }
    .product-container{
        width: 130px;
    }
    .font-product-name{
        font-size: 15px;
    }
    .font-product-stock{
        font-size: 15px;
    }
    .product-fiche-group{
        margin-bottom: 20px;
    }
    .font-product-title{
        font-size: 21px;
    }
    .font-product-stock{
        font-size: 18px;
    }
    .product-info-group{
        flex-wrap: wrap;
    }
    .container {
/*        margin-top: 60px !important;*/
    }
    .content-activity{
        display:none;
    }
    .content-parisport{
        width: 100% !important;
    }
    .container-page {
        margin-top: 155px;
    }
/*    footer {
        display: none;
    }*/
    .content_match-score-away {
        font-size: 20px;
        margin-left: 56px;
    }
    .content_match-score-home {
        font-size: 20px;
    }
    .header-index {
        margin-top: 27%;
        padding-bottom: 26px;
    }
    .header-data {
        padding: 5px 0 !important;
    }
    .form-more-option-check {
        padding-top: 0;
    }
    .header-infos {
        display: none;
    }
    .logo-mobile {
        display: block;
        margin-top: 15px;
        margin-bottom: 15px;
        width: 50%;
    }
    .header-logo-mobile {
        display: block;
    }
    .board-widgets {
        display: none;
    }
    .body-clearfix {
        width: auto;
    }
    .header_login-email {
        width: 100% !important;
    }
    .header_login-mdp {
        width: 100% !important;
    }
    .header-menu-mobile {
        display: block !important;
    }
    .menu-mobile {
        display: block;
    }
/*    .header-page {
        padding: 10px 30px !important;
    }*/
    .body-content {
        width: 100%;
    }
    .header-content-title {
        display: flex;
        flex-direction: row;
        height: auto !important;
        padding: 3px 0 2px 0;
    }
    .header-content-logo {
        position: relative !important;
    }
    .header-content-text {
        padding-left: 30px;
    }
    .form-input-label-mobile {
        font-size: 15px;
    }
    .header-title > .header-gamepub-logo {
        left: 6px;
    }
    .form-input-text-mobile {
        font-size: 15px;
        height: auto;
    }
    .content_match-team-txt {
        font-size: 12px;
    }
    .content_match-league-text {
        /*font-size:50px;*/
    }
    .content_match-fiche {
        font-size: 10px;
        margin: 0;
        padding: 0;
    }
    .btn-match-infos {
        /*font-size: 40px;*/
        margin-left: -18px;
        /*margin-top: 20px;*/
        border-radius: 15px;
    }
    .btn-wrap {
        margin-top: 5px;
    }
    .content-second-form {
        margin-top: 15px;
    }
    .content_pari-mise {
        font-weight: bold;
    }
    .match-info-phase-title {
        font-size: 11px !important;
    }
    .mobile-user-photo {
        width: 64px;
        height: 64px;
    }
    .mobile-user-name {
        font-size: 30px;
        padding-left: 20px;
        padding-top: 5px;
    }
    /*.menu-mobile-ul {
        font-size: 16px;
        list-style: none;
        line-height: 30px;
    }*/
    .content_match-score-stat {
        margin-top: 25px;
    }
    .content_match-score-stat {
        display: none;
    }
    .form-pari-choice-teamtxt {
        margin-top: 0;
    }
    .text-simple-mobile {
        font-size: 15px;
    }
    .modal-pari {
        margin-top: 75px;
    }
    .form-pari-input-bottom {
        margin-top: 30px;
    }
    .form-pari-input {
        font-size: 30px;
        height: auto;
    }
    .content-fiche-infos {
        padding: 0;
    }
    .thumbnail-fiche {
        border: none;
    }
    .photo-message figure {
        width: 25%;
    }
    .account-img {
        height: 64px;
        width: 64px;
    }
    .account-box {
        margin-bottom: 15px;
    }
    .navigation-menu-account {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .navigation-menu-flex {
        margin-top: 0;
    }
    .content-box-profil {
        padding-left: 0;
    }
    .container-page-simple {
        margin-top: 90px;
    }
    .content-politique {
        font-size: 25px;
    }
    /*.drapeau-fichesport {
        height: 64px !important;
        width: 80px !important;
    }*/
    .content-login-body {
        flex-direction: column-reverse;
    }
    .content-login-info {
        margin-top: 5px;
    }
    .drapeau-fichesport {
        height: 70px !important;
    }
    .product-container {
        width: 44.75% !important;
    }
    .content-fiche-infos {
        display: none;
    }
    .content_match-score {
        margin: 0 0 0 20px;
        font-size: 29px;
    }
    .content_match-score-fiche-home {
        margin: 10px 0 0 10px;
    }
    .content_fiche-score-away {
        margin: 10px 10px 0 0;
    }
    .match-infos-mobile {
        display: block;
    }
    .nav-fiche {
        margin: 0;
    }
    .content-fichenav-element {
        padding: 0;
    }
    .content-fichenav-defi-joueurtxt-home {
        margin-left: -45px;
    }
    .content-fiche-nav-rubrique {
        padding: 0;
    }
    .btn-match-suivre-tab-away{
        margin-left: 0px;
        width: 80px;
    }
    .btn-match-suivre-tab-home {
       margin-left: -45px; 
    }
    .header-form-login {
        display: none;
    }
    .btn-mobile {
        display: block;
    }
    .logo-header-home2 {
        transform: translate(0,50%);
    }
    .btn-login-header {
        left: 12% !important;
    }
    .container-accueil {
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }
    .content-info-home {
        margin-bottom: 15px;
    }
    .stat-libelle {
        font-size: 11px;
    }
    .content-fichenav-defi-reverse {
        flex-direction: column-reverse;
    }
    .btn-match-suivre-tab {
        border-radius: 5px;
    }
    .content-fichenav-defi-joueurtxt {
        font-size: 10px;
    }
    .content-fichenav-defi-joueur {
        flex-wrap: wrap;
    }
    .content-fichenav-element {
        margin-top: 10px;
    }
    .content-box-point-resp {
        display: block;
    }
    .content-box-point-img {
        height: 221px;
    }
    .content-box-point-title {
        font-weight: bold;
    }
    .form-input-regle {
        width: 100%;
    }
    .conf-jdp-fiche {
        display: none;
    }
    .conf-jdp-fiche-mobile {
        display: block;
    }
    .form-point-gagnant {
        flex-wrap: wrap;
    }
    .form-handicap-div {
        left: 0;
    }
    .avantage-suivre-home {
        font-size: 11px;
    }
    .avantage-suivre-away {
        font-size: 11px;
    }
    .content-defi-button {
        flex-wrap: wrap
    }
    .btn-match-info-defi {
        margin-top: 10px;
    }
    .content-body-ficheenchere {
        padding: 0 !important;
    }
    .content-fiche-histo-mobile {
        padding: 0 !important;
    }
    .tab-histo-enchere-compo-mobile {
        margin-right: -15px !important;
        margin-left: -15px !important;
    }
    .fournisseur-img {
        width: 40% !important;
    }
    .fournisseur-box {
        margin-bottom: 10px;
        margin-top: 0;
    }
    .close-fournisseur {
        margin-left: 95%;
    }
    .btn-match-suivre-tab {
        font-size: 10px;
    }
    .content_match-avantage-home-pari {
        font-size: 12px !important;
    }
    .monPanier{
        display: none;
    }
}

/*TABLETS*/
/*portrait-tablets*/
@media only screen and (min-width: 480px) and (max-width: 769px) {
    .product-stock {
        font-size: 17px;
    }
    .content-fiche-infos {
        display: none;
    }
    .btn-login-header {
        margin-top: 20px;
    }
    .btn-signin-header {
        margin-top: 9px;
        margin-left: 0;
    }
}
/*landscape-tables*/
@media only screen and (min-width: 769px) and (max-width: 1023px) {
    .header-logo-index {
        text-align : center !important;
    }
    .btn-login {
        left: 50%;
        transform: translate(-50%, 0);
    }
    
}

/*all tablets*/
@media only screen and (min-width: 480px) and (max-width: 1023px) {
    .box-enchere-flash {
        display: block;
    }
    .box-space-media {
        display: none;
    }
    .navigation-header {
        padding-bottom: 10px;
    }
    .header-connected-search-mobile {
        display: block;
    }
    .box-enchere-desc {
        font-size: 13px;
    }
    .box-flash-content {
        transform: translate(0,10%);
    }
    .box-flash-icon {
        left: -24px;
        width: 38px;
        height: 38px;
        top: -11px;
    }
    .box-enchere-flash {
        height: 376px;
    }
    .header-menu-mobile {
        display: block !important;
    }
    .menu-mobile {
        display: block;
    }
    .header-infos {
        display: none !important;
    }
    .logo-rubrique {
        width: 37px;
    }
    .box-rubrique-title {
        font-size: 14px;
    }
    .product-stock {
        font-size: 17px;
    }
    .footer-list-head {
        font-size: 13px;
    }
    .footer-list {
        font-size: 11px;
    }
    .box-title {
        width: 55%;
    }
    .product-slick-title {
        font-size: 12px !important;
    }
    .box-team-score {
        transform: translate(0,15%);
        font-size: 25px;
    }
    .content-login-ul {
        font-size: 13px !important;
    }
/*    .menu-header {
        top: 80px;
    }*/
    .header-payment-infos {
        display: none;
    }
    .btn-mobile-login {
        font-size: 12px;
        transform: translate(0,20px);
    }
    .header-contact {
        display: none;
    }
    .btn-mobile {
        display: block;
    }
    .header-form-login {
        display: none;
    }
    .content-match-score-all {
        justify-content: space-between;
    }
    .content_match-fiche {
        margin-top: -15px;
        margin-left: 7px;
    }
    .header-index {
        margin-top: 27%;
        padding-bottom: 26px;
    }
    .content_match-score-away {
        margin-left: -6px !important;
    }
    .photo-message figure {
        width: 25%;
    }
    .btn-signin-header {
        /*margin-top: 10px;*/
        margin-left: 0;
    }
    .form-submit-btn {
        flex-wrap: wrap;
    }
    .container-accueil {
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }
    .content-info-home {
       margin-bottom: 15px; 
    }
    .stat-libelle {
        font-size: 11px;
    }
    .btn-match-suivre-tab {
        font-size: 12px;
    }
    .content-fichenav-defi-joueurtxt {
        font-size: 11px;
    }
    .content-fichenav-element {
        margin-top: 10px;
    }
    .content-box-point-resp {
        display: block;
    }
}
.achatLibelle{
    font-weight:  bold;
    font-size: 15px;
}
.operateurInvalide{
    display:none; 
    width: 120px;
    color: red;
    font-weight: bold;
}
.input-label-payement{
    color: #000;
    font-size: 15px;
}
.title-payement{
    padding: 15px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 15px;
    background: #4ebf32;
    color: #fff;
}
.container-payement{
    margin-top: 50px;
    padding: 15p
}
.btn-payement{
    width: 50%;
    border-radius: 4px;
}
.btn-annuler{
    margin-top: 20px !important;
    padding-top: 15px !important;
}
.content-reacap{
    float: right;
}
.table-recap{
    margin-left:auto;
    margin-right:auto;
}
.title-payement-warning{
    padding: 15px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 15px;
    background: #dc3535;
    color: #fff;
}
/*DESKTOP*/
@media only screen and (min-width: 1024px) {
    
}

@media only screen and (min-width: 1500px) {
    .banner-rel-2000{
        display: block !important;
    }
    .banner-rel-1500{
        display: none !important;
    }
    .banner {
        display: none;
    }
    .banner-2000-bloc {
        display: block !important;
    }
    .banner-rel-mobile {
        display: none;
    }
    .banner-mobile-bloc {
        display: none;
    }
    .logo-rubrique {
        transform: translate(130%, 0);
    }
    
}
.btn-plats-search{
    margin: 0px 0 15px 15px;
}
